@use "variables" as *;
button {
  border: none;
  background: none;
  margin-left: auto;
}

.unread-counter {
  background-color: $blue;
  color: white;
  padding: 0.1rem 0.7rem;
  border-radius: 5px;
}

.tab {
  // width: 700px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    margin-bottom: 0.6rem;
  }

  &__img {
    max-width: 55px;

    margin: 0.3rem 1rem;
    @media (max-width: 600px) {
      max-width: 35px;
    }
  }
}

.private-msg {
  max-width: 600px;
  margin-left: 6rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid $light-grayish-blue-2;
  border-radius: 5px;
}
.private-msg:hover {
  cursor: pointer;
  background-color: $light-grayish-blue-2;
}

.img-post {
  max-width: 7%;
  margin-left: auto;
}
.dot {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: $red;
}
