@use "variables" as *;
.tab-time {
  display: block;
}

.unread-tab {
  background-color: $very-light-grayish-blue;
}

.body-color {
  background-color: $very-light-grayish-blue;
}
.main-color {
  background-color: $white;
}
.main-padding {
  padding: 1.3rem;
}
.pointer-blue:hover {
  color: $blue;
  cursor: pointer;
}
