@use "reset";
@use "elements";
@use "typography";
@use "utilities";

.notifications {
  max-width: 740px;
  height: auto;
  margin: 3rem auto;
  border-radius: 5px;
  margin-bottom: 1rem;
  @media (max-width: 600px) {
    max-width: 100%;
    margin: 1rem;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  h2 {
    padding-right: 1rem;
  }
  &__tabs {
    margin-top: 2.5rem;
    @media (max-width: 600px) {
      margin-top: 1rem;
    }
  }
}
