@use "reset";
@use "elements";
@use "typography";
@use "utilities";

.notifications {
  max-width: 740px;
  margin: 3rem auto;
  border-radius: 5px;
  @media (max-width: 425px) {
    max-width: 100%;
    margin: 3rem 1rem;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  h2 {
    padding-right: 1rem;
  }
  &__tabs {
    margin-top: 2.5rem;
  }
}
